//------------------------------------------------------------------
//  Colors
//------------------------------------------------------------------
// General Site
$white:                       #ffffff;
$black:                       #1e1905;
$background:                  #f8f8f8;
$text_primary:                #1e1905;
$button_bg_color:             #e5b335;
$button_text_color:           #1e1905;

// Header
$header_bg_overlay:           #f9d36b;
$header_bg_opacity:           0.8;
$header_bg_image:             url("/images/into-bg-01.jpg");

// Main (desktop) menu
$menu_text:                   #1e1905;

// Mobile Menu
$mobile_menu_bg:              #1e1905;
$mobile_menu_text:            #f9d36b;

// Music Album Embeds
$music_bg_color:              #f9d36b;
$music_text_color:            #1e1905;

// Show Borders
$show_border_color:           #e2e2e2;

// Footer
$footer_bg:                   #333333;
$footer_text:                 #999999;

//------------------------------------------------------------------
//  Fonts
//------------------------------------------------------------------
$montserrat:                  "Montserrat", sans-serif;