//------------------------------------------------------------------
//  Colors
//------------------------------------------------------------------
// General Site
$background:                  #1a1a1a;
$text-primary:                #fbc926;
$button-bg-color:             #e5b335;
$button-text-color:           #1e1905;

// Header
$header-bg-color:             #000000;
$header-bg-overlay:           #000000;
$header-bg-opacity:           0;
$header-bg-image:             url('/images/intro-bg-01.jpg');
$header-text-color:           #fbc926;

// Mobile Menu
$mobile-menu-bg:              #111111;
$mobile-menu-text:            #fbc926;

// Music Album Embeds
$music-bg-color:              #fbc926;
$music-text-color:            #000000;

// Show Borders
$show-border-color:           #333333;

// Footer
$footer-bg:                   #0a0a0a;
$footer-text:                 #4f4f4f;

//------------------------------------------------------------------
//  Fonts
//------------------------------------------------------------------
$montserrat:                  "Montserrat", sans-serif;
