---
layout: default
title: home
weight: 0
activeWidgets: [music, news, shows, videos, photos, text]
showLimit: 5
textWidgetTitle: "About Us"
textWidgetCopy: "<p>Fox &amp; Coyote is an indie folk quartet featuring Ryan Evans (lead vocals, guitar), Jonathan Harms (banjo, vocals), Amy Chatelaine (cello, vocals), and Jimmy Barnett (drums, vocals). The group offers “soaring and haunting” melodies (KAXE Northern Community Radio), “vivid stories” (89.3 The Current), and songs with “warmth and pulse” (City Pages). Building off the success of their debut full-length album, <em>If We Stay</em> (2013), Fox &amp; Coyote is releasing their EP <em>Boardinghouse</em> in May 2015.</p>"
---

<div class="page">

  {% for w in page.activeWidgets %}
    
    <div class="page-section">
      <div class="wrap">
        <header class="page-section__header">
          {% if w == "music" %}
            <a href="/music"><h2>Music</h2></a>
          {% elsif w == "news" %}
            <a href="/news"><h2>News</h2></a>
          {% elsif w == "shows" %}
            <a href="/shows"><h2>Shows</h2></a>
          {% elsif w == "videos" %}
            <a href="/videos"><h2>Videos</h2></a>
          {% elsif w == "photos" %}
            <a href="/photos"><h2>Photos</h2></a>
          {% elsif w == "text" %}
            <h2>{{ page.textWidgetTitle }}</h2>
          {% endif %}
        </header>

        {% if w == 'music' %}
          {% include album.html album=site.albums.last %}
        {% endif %}

        {% if w == 'news' %}
          {% include news.html post=site.posts.first %}
        {% endif %}

        {% if w == 'shows' %}
          {% include shows.html shows=site.shows limit=page.showLimit %}
        {% endif %}

        {% if w == 'videos' %}
          {% include video.html video=site.videos.last %}
        {% endif %}

        {% if w == 'photos' %}
          Photos...
        {% endif %}

        {% if w == 'text' %}
          {% include text.html text=page.textWidgetCopy %}
        {% endif %}

      </div>
    </div>

  {% endfor %}

</div>