---
layout: default
title: home
weight: 0
activeWidgets: [music, news, shows, videos, photos, text]
showLimit: 5
textWidgetTitle: "About Us"
textWidgetCopy: "aasdfasdf"
---

<div class="page">

  {% for w in page.activeWidgets %}
    
    <div class="page-section">
      <div class="wrap">
        <header class="page-section__header">
          {% if w == "music" %}
            <a href="/music"><h2>Music</h2></a>
          {% elsif w == "news" %}
            <a href="/news"><h2>News</h2></a>
          {% elsif w == "shows" %}
            <a href="/shows"><h2>Shows</h2></a>
          {% elsif w == "videos" %}
            <a href="/videos"><h2>Videos</h2></a>
          {% elsif w == "photos" %}
            <a href="/photos"><h2>Photos</h2></a>
          {% elsif w == "text" %}
            <h2>{{ page.textWidgetTitle }}</h2>
          {% endif %}
        </header>

        {% if w == 'music' %}
          {% include album.html album=site.albums.last %}
        {% endif %}

        {% if w == 'news' %}
          {% include news.html post=site.posts.first %}
        {% endif %}

        {% if w == 'shows' %}
          Shows...
        {% endif %}

        {% if w == 'videos' %}
          Video...
        {% endif %}

        {% if w == 'photos' %}
          Photos...
        {% endif %}

        {% if w == 'text' %}
          {{ page.textWidgetCopy }}
        {% endif %}

      </div>
    </div>

  {% endfor %}

</div>