<footer class="site-footer">
  <div class="wrap">
    <div class="mailing-list">
      <span class="mailing-list__title">Mailing List</span>
      <form class="mailing-list__form">
        <input class="mailing-list__input--text" type="text" placeholder="Enter your email address" />
        <input class="mailing-list__input--submit" type="submit" value="Submit" />
      </form>
    </div>
    <ul class="social-links">
      <li class="social-link--facebook"><a href="https://www.facebook.com/foxandcoyote" target="_blank" title="Facebook"><i class="icon-facebook"></i></a></li>
      <li class="social-link--bandcamp"><a href="http://foxandcoyote.bandcamp.com/" target="_blank" title="Bandcamp"><i class="icon-bandcamp"></i></a></li>
      <li class="social-link--twitter"><a href="http://twitter.com/foxandcoyote/" target="_blank" title="Twitter"><i class="icon-twitter"></i></a></li>
      <li class="social-link--instagram"><a href="http://instagram.com/foxandcoyote/" target="_blank" title="Instagram"><i class="icon-instagram"></i></a></li>
      <li class="social-link--youtube"><a href="http://youtube.com/foxandcoyoteband/" target="_blank" title="Youtube"><i class="icon-youtube"></i></a></li>
    </ul>
    <p class="site-credits">&copy; YEAR Site Name</p>
  </div>
</footer>