<header class="site-header{% if page.id == 'home' %}--homepage{% endif %}">
  <div class="wrap">
    <a href="{{ site.baseurl }}/" class="logo--text">{{ site.title }}</a>
    <nav class="menu-container">
      {% assign pages = site.pages | sort:"weight" %}
      <ul class="menu">
        {% for p in pages %}
          {% if p.title and p.weight != 0 %}
            <li class="menu-item"><a class="menu-item__link {% if p.url == page.url  %}current{% endif %}" href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
    {% if page.id != 'home' %}
      <h1 class="page-title">{{ page.title }}</h1>
    {% endif %}
  </div>
</header>