<tr>
  <td class="tour-date__date">
    <div class="cell_wrap">
      <span class="tour-date__month">{{ include.date }}</span>
      <span class="tour-date__day">{{ include.date }}</span>
    </div>
  </td>
  <td class="tour-date__location">
    <div class="cell_wrap">
      <span class="tour-date__venue">{{ include.venue }}</span>
      <span class="tour-date__city">{{ include.city }}</span>
    </div>
  </td>
  <td class="tour-date__tickets">
    <div class="cell_wrap">
      <a href="{{ include.tickets }}">Buy Tickets</a>
    </div>
  </td>
  <td class="tour-date__social">
    <div class="cell_wrap">
      <ul>
        <li class="facebook_share">
          <a href="{{ include.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a>
        </li>
        <li class="twitter_share">
          <a href="{{ include.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
        </li>
      </ul>
    </div>
  </td>
</tr>