<table class="shows" data-shows-limit="{{include.limit}}">
  <tbody>
    {% assign shows = include.shows | sort:"datetime" %}
    {% for show in shows %}
      <tr class="show">
        <td class="show__date">
          <div class="cell-wrap">
            <span class="show__month">{{ show.datetime | date: "%b"}}</span>
            <span class="show__day">{{ show.datetime | date: "%-d" }}</span>
          </div>
        </td>
        <td class="show__location">
          <div class="cell-wrap">
            <span class="show__title">{{ show.title }}</span>
            <span class="show__city">{{ show.location }}</span>
          </div>
        </td>
        <td class="show__tickets">
          <div class="cell-wrap">
            <a href="{{ show.tickets }}">Buy Tickets</a>
          </div>
        </td>
        <td class="show__social">
          <div class="cell-wrap">
            <ul>
              <li class="facebook_share">
                <a href="{{ show.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a>
              </li>
              <li class="twitter_share">
                <a href="{{ show.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>