* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  background: $white;
}

a{
  color: $black;
}

ul, ol{
  list-style-type: none;
  margin: 0;
  padding: 0;
}