* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background: $background;
  color: $text-primary;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $montserrat;
  font-weight: 500;
}

a {
  color: $text-primary;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.clearfix::after {

  display: table;
  width: 100%;
  clear: both;
  content: '';

}

.truncate {
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}
