* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  background: $background;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: $montserrat;
  font-weight: 500;
}

a{
  color: $text_primary;
}

ul, ol{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.clearfix:after{

  content: "";
  display: table;
  width: 100%;
  clear: both;

}

.truncate{
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
}