button,
.button,
%button {

  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  text-decoration: none;

  &__read-more {
    @extend %button;
    padding: 10px 20px;
    border: solid 1px $text-primary;
    border-radius: 6px;
    font-size: 1.125rem;
  }

}
