.site-footer {

  padding: 40px 0;
  background-color: $footer-bg;
  color: $footer-text;
  font-family: $montserrat;

  @media (min-width: 480px) {
    padding: 60px 0;
  }

}

.site-credits {
  margin: 0;
  padding-top: 40px;
  text-align: center;
}
