.site-header{

  background: url('https://images.unsplash.com/photo-1436262513933-a0b06755c784?q=80&fm=jpg&s=943d98ea03caf20350b6e014b2a49890') 50% 50% no-repeat;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  // homepage varient
  &--homepage{

    @extend .site-header;

    .logo--text{

    }
    .menu-container{

    }

  }

}

.logo{

  display: block;
  font-family: 'Montserrat', sans-serif;
  margin: 60px 20px;
  color: $black;
  text-decoration: none;
  font-size: 2em;
  text-align: center;

  &--text{
    // todo
    @extend .logo;
  }
  &--image{
    // todo
    @extend .logo;
  }

  @media (min-width: 480px) {
    font-size: 3em;
    margin: 100px auto;
  }

  @media (min-width: 768px) {
    font-size: 4em;
    margin: 200px auto;
    max-width: 70%;
  }

  @media (min-width: 1024px) {
    font-size: 6em;
    margin: 300px auto;
  }

}