.site-header,
%site-header {

  position: relative;
  background: $header-bg-color $header-bg-image 50% 50% no-repeat;
  background-size: cover;

  @media (min-width: 768px) {
    padding-top: $spacer * 1.5;
  }

  &::after {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $header-bg-overlay;
    content: '';
    opacity: $header-bg-opacity;
  }

  .wrap {
    position: relative;
    height: 100%;
    z-index: 10;
  }

}

// homepage varient
.site-header--homepage {

  @extend %site-header;

  .logo,
  .logo--text,
  .logo--image {

    display: block;
    width: 100%;
    max-width: 100%;
    padding: ($spacer * 3) $spacer;
    text-align: center;

    @media (min-width: 768px) {
      font-size: 3em;
    }

    @media (min-width: 768px) {
      max-width: 70%;
      margin: 200px auto;
      padding: 0;
      float: none;
      font-size: 4em;
    }

  }

}


.logo,
%logo {

  display: block;
  position: absolute;
  top: 20px;
  left: 26px;
  float: left;
  color: $header-text-color;
  font-family: $montserrat;
  font-size: 1.2em;
  text-align: left;
  text-decoration: none;

  @media (min-width: 768px) {

    position: relative;
    top: auto;
    left: auto;
    transition: all 0.15s ease-in-out;
    font-size: 1.6em;

  }

}

.logo--text {

  @extend %logo;

  &:hover {
    opacity: 0.8;
  }

}

.logo--image {

  @extend %logo;

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  &:hover {
    opacity: 0.65;
  }

}

.page-title {

  display: block;
  margin: 0 auto;
  padding: 116px 20px 60px;
  color: $header-text-color;
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: 768px) {
    padding: 80px 0 300px;
    clear: both;
  }

}
