.wrap{

  max-width: 87.5%;
  margin: 0 auto;
  overflow: hidden;

  @media (min-width: 768px) {
    max-width: 94.79%;
    padding: 0 20px;
  }

}

#site-wrap{

  position: relative;
  background: $white;
  min-height: 100%;

  &.open{
    @include box-shadow(0, 0, 20px, rgba(0,0,0,0.15));
  }

}