.wrap{

  max-width: 87.5%;
  margin: 0 auto;
  overflow: hidden;

  @media (min-width: 768px) {
    max-width: 94.79%;
    padding: 0 $spacer;
  }

  @media (min-width: 1024px) {
    max-width: 940px;
    padding: 0 $spacer/2;
  }

}

#site-wrap{

  position: relative;
  background: $background;
  min-height: 100%;

  &.open{
    @include box-shadow(0, 0, 20px, rgba(0,0,0,0.15));
  }

}

.page-content{

  > .wrap{

    @media (min-width: 768px) {
      position: relative;
      margin-top: -200px;
      padding: 0 0 40px 0;
      z-index: 100;
      background-color: $background;
      min-height: 400px;
    }

  }

}