.wrap {

  max-width: 87.5%;
  margin: 0 auto;
  overflow: hidden;

  @media (min-width: 768px) {
    max-width: 94.79%;
    padding: 0 $spacer;
  }

  @media (min-width: 1024px) {
    max-width: 940px;
    padding: 0 $spacer / 2;
  }

}

.site-wrap {

  position: relative;
  min-height: 100%;
  background: $background;

  &.open {
    // scss-lint:disable ColorVariable
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    // scss-lint:enable ColorVariable
  }

}

.page-content {

  > .wrap {

    @media (min-width: 768px) {
      position: relative;
      min-height: 400px;
      margin-top: -200px;
      padding: 0 0 40px;
      background-color: $background;
      z-index: 100;
    }

  }

}
