.mailing-list,
%mailing-list {

  padding: 0 0 40px;
  text-align: center;

  @media (min-width: 480px) {
    padding-bottom: 60px;
  }

  &__title {

    display: block;
    margin: 0 0 20px;
    color: $footer-text;
    font-size: 1.4em;
    text-transform: uppercase;

    @media (min-width: 768px) {
      display: inline-block;
      margin: 0 40px 0 0;
      font-size: 1.5em;
      vertical-align: middle;
    }

    @media (min-width: 1024px) {
      font-size: 2em;
    }

  }

  &__form {

    display: block;
    color: $footer-text;
    font-size: 1.125em;
    overflow: hidden;

    @media (min-width: 768px) {
      display: inline-block;
      vertical-align: middle;
    }

    @media (min-width: 1024px) {
      font-size: 1.375em;
    }

  }

  &__input {

    display: block;
    padding: 15px;
    border: solid 2px $footer-text;
    outline: none;

    @media (min-width: 768px) {
      padding: 20px;
      float: left;
    }

    &--text {

      @extend %mailing-list__input;
      width: 100%;
      margin-bottom: 10px;
      background: none;
      color: $footer-text;

      @media (min-width: 768px) {
        width: 280px;
      }

      @media (min-width: 1024px) {
        width: 340px;
      }

    }

    &--submit {

      @extend %mailing-list__input;
      width: 100%;
      background-color: $footer-text;
      color: $show-border-color;
      text-transform: uppercase;

      &:hover {
        opacity: 0.7;
      }

      @media (min-width: 768px) {
        width: 150px;
      }

      @media (min-width: 1024px) {
        width: 182px;
      }

    }

  }

}
