.mailing-list{

  text-align: center;
  padding: 0 0 40px 0;

  @media (min-width: 480px) {
    padding-bottom: 60px;
  }

  &__title{

    display: block;
    color: $footer-text;
    text-transform: uppercase;
    font-size: 1.4em;
    margin: 0 0 20px 0;

    @media (min-width: 768px) {
      font-size: 1.5em;
      margin: 0 40px 0 0;
      display: inline-block;
      vertical-align: middle;
    }

    @media (min-width: 1024px) {
      font-size: 2em;
    }

  }
  &__form{

    display: block;
    color: $footer-text;
    font-size: 1.125em;
    overflow: hidden;

    @media (min-width: 768px) {
      display: inline-block;
      vertical-align: middle;
    }

    @media (min-width: 1024px) {
      font-size: 1.375em;
    }

  }
  &__input{

    border: solid 2px $footer-text;
    display: block;
    padding: 15px;
    outline: none;

    @media (min-width: 768px) {
      float: left;
      padding: 20px;
    }

    &--text{

      @extend .mailing-list__input;
      width: 100%;
      background: none;
      margin-bottom: 10px;
      color: $footer-text;

      @media (min-width: 768px) {
        width: 280px;
      }

      @media (min-width: 1024px) {
        width: 340px;
      }

    }
    &--submit{

      @extend .mailing-list__input;
      text-transform: uppercase;
      background-color: $footer-text;
      color: #333333;
      width: 100%;

      &:hover{
        opacity: 0.7;
      }

      @media (min-width: 768px) {
        width: 150px;
      }

      @media (min-width: 1024px) {
        width: 182px;
      }

    }

  }

}