// setup for mobile menu
#mobile-menu{

  background-color: $black;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  padding: 0 60px 0 0;

  @media (min-width: 768px) {
    display: none;
  }

  .menu{
    padding: 20px;
    margin: 0;
    text-align: left;
  }
  .menu-item{
    display: block;
  }
  .menu-item__link{

    display: block;
    padding: 20px;
    font-size: 1.2em;
    opacity: 1;
    color: #f9d36b;
    @include transition( opacity, 0.05s, linear );

    &:hover{
      opacity: 0.8;
    }

  }

}

.mobile-menu-toggle{

  outline: none;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  color: $black;
  z-index: 100;
  font-size: 1.5em;
  opacity: 0.75;

  @media (min-width: 768px) {
    display: none;
  }

}

// general menus
.menu-container{

  display: none;

  @media (min-width: 768px) {

    float: right;
    display: block;
    font-size: 1em;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    max-width: 75%;

  }

}

.site-header--homepage .menu-container{

  @media (min-width: 768px) {

    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;

  }

}

.menu{
  text-align: center;
}
.menu-item{

  text-transform: uppercase;
  font-weight: 300;
  display: inline-block;
  position: relative;
  font-family: $montserrat;

  &__link{

    color: $black;
    display: inline-block;
    padding: 0.625em 1em;
    text-decoration: none;
    -webkit-backface-visibility: hidden;
    @include transition( opacity, 0.15s, ease-in-out );

    &:hover{
      opacity: 0.85;
    }

    &--current{
      @extend .menu-item__link;
      opacity: 0.85;
    }

  }

}