// setup for mobile menu
#mobile-menu{
  background-color: $black;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  padding: 0 60px 0 0;
  font-family: "Montserrat", sans-serif;
}

.mobile-menu-toggle{
  outline: none;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  color: $white;
  z-index: 100;
  font-size: 1.5em;
  opacity: 0.75;
}

// general menus
.menu{

}
.menu-item{

  text-transform: uppercase;
  color: $white;

  &__link{
    text-decoration: none;
    @include transition( color, 0.15s, linear );
  }

}