// setup for mobile menu
.mobile-menu {

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 60px 0 0;
  background-color: $mobile-menu-bg;
  z-index: 0;

  @media (min-width: 768px) {
    display: none;
  }

  .menu {
    margin: 0;
    padding: 20px;
    text-align: left;
  }

  .menu-item {
    display: block;
  }

  .menu-item__link {

    display: block;
    padding: 20px;
    transition: opacity 0.05s linear;
    color: $mobile-menu-text;
    font-size: 1.2em;
    opacity: 1;

    &:hover {
      opacity: 0.8;
    }

  }

}

.mobile-menu-toggle {

  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  outline: none;
  font-size: 1.5em;
  opacity: 0.75;
  z-index: 100;

  @media (min-width: 768px) {
    display: none;
  }

}

// general menus
.menu-container {

  display: none;

  @media (min-width: 768px) {

    display: block;
    max-width: 75%;
    float: right;
    color: $white;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;

  }

}

.site-header--homepage .menu-container {

  @media (min-width: 768px) {

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    max-width: 100%;
    z-index: 100;

  }

}

.menu {
  text-align: center;
}

.menu-item {

  display: inline-block;
  position: relative;
  font-family: $montserrat;
  font-weight: 300;
  text-transform: uppercase;

}

.menu-item__link,
%menu-item__link {

  display: inline-block;
  padding: 0.625em 1em;
  transition: opacity 0.15s ease-in-out;
  color: $header-text-color;
  text-decoration: none;

  &:hover {
    opacity: 0.85;
  }

  &--current {
    @extend %menu-item__link;
    opacity: 0.85;
  }

}
