@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

//** CLEARFIX *********************/
@mixin clearfix {
  &::after {
    display: table;
    clear: both;
    content: '';
  }
}

//** TRUNCATE *********************/
@mixin truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

//** PURE CSS TRIANGLES *********************/
@mixin triangle ($direction, $size, $color) {

  width: 0;
  height: 0;

  @if $direction == 'right' {

    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $color;

  } @elseif $direction == 'down' {

    border-top: $size solid $color;
    border-right: $size solid transparent;
    border-left: $size solid transparent;

  } @elseif $direction == 'left' {

    border-top: $size solid transparent;
    border-right: $size solid $color;
    border-bottom: $size solid transparent;

  } @elseif $direction == 'up' {

    border-right: $size solid transparent;
    border-bottom: $size solid $color;
    border-left: $size solid transparent;

  }
}

//** CSS GRADIENT *********************/
//Prefixes definition
$webkit:true;
$o:true;
$moz:true;
$w3:true;
$ms:true;

@mixin gradient($mode, $direction, $from, $to, $old-direction:null) {

  @if $webkit == true {
    @if($old-direction != null) {
      background-image: -webkit-gradient($mode, #{$old-direction}, from($from), to($to));
    }
    background-image: -webkit-#{$mode}-gradient($direction, $from, $to);
  }
  @if $moz == true {
    background-image: -moz-#{$mode}-gradient($direction, $from, $to);
  }
  @if $o == true {
    background-image: -o-#{$mode}-gradient($direction, $from, $to);
  }
  @if $ms == true {
    background-image: -ms-#{$mode}-gradient($direction, $from, $to);
  }
  @if $w3 == true {
    background-image: #{$mode}-gradient($direction, $from, $to);
  }
}
