.album {

  @include clearfix;
  margin-bottom: 30px;
  background-color: $music-bg-color;

  @media (min-width: 480px) {
    margin-bottom: $spacer * 2;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__embed {

    height: 200px;

    @media (min-width: 768px) {
      width: 50%;
      float: left;
    }

    // scss-lint:disable ImportantRule
    iframe {
      display: block;
      width: 100% !important;
      height: 100% !important;
    }
    // scss-lint:enable ImportantRule

  }

  &__info {

    padding: $spacer;

    @media (min-width: 768px)  {
      position: relative;
      width: 50%;
      padding: $spacer * 2;
      float: left;
    }

  }

  &__type {

    color: $music-text-color;
    font-family: $montserrat;
    font-size: 0.85rem;
    text-transform: uppercase;
    opacity: 0.7;

    @media (min-width: 768px) {
      font-size: 1.125rem;
    }

  }

  &__title {

    margin: ($spacer / 2) 0;
    color: $music-text-color;
    font-size: 1.625rem;
    font-weight: 500;

    @media (min-width: 768px) {
      font-size: 2.375rem;
    }

  }

  &__description {

    color: $music-text-color;

    @media (min-width: 768px) {
      height: 100px;
      font-size: 1.15em;
      overflow-y: auto;
    }

    @media (min-width: 1024px) {
      height: 187px;
    }

    > :first-child { margin-top: 0; }
    > :last-child { margin-bottom: 0; }

  }

}

.album__button,
%album__button {

  display: block;
  margin: $spacer 0 0;
  padding: $spacer;
  transition: opacity 0.05s linear;
  background-color: $button-bg-color;
  color: $button-text-color;
  font-family: $montserrat;
  font-size: 1.25rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    opacity: 0.85;
  }

  @media (min-width: 768px) {
    position: absolute;
    right: $spacer * 2;
    bottom: $spacer * 2;
    left: $spacer * 2;
  }

  &--full {
    @extend %album__button;
  }

}
