.news-article{

  position: relative;
  padding: 2px 2px 0 2px;

  &:before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: $spacer*2;
    left: 0;
    @include gradient(linear,top,rgba($text-primary, 1.00),rgba($background, 0.00),'left top, left bottom');
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$text-primary}', EndColorStr='#{$background}');

  }

  &__header,
  &__content{

    position: relative;
    background: $background;
    padding: $spacer;

    @media (min-width: 768px) {
      padding: $spacer*2;
    }

  }

  &__header{
    padding-bottom: 0;
  }
  &__title{

    margin: 0;
    font-size: 2.4em;
    float: left;

    @media (min-width: 768px) {
      font-size: 2.3em;
    }

    a{
      text-decoration: none;
    }

  }
  &__date{

    display: none;

    @media (min-width: 768px) {
      
      display: block;
      float: right;
      text-transform: uppercase;
      opacity: 0.7;
      margin-top: $spacer/2;

    }

  }

  &__content{

    font-size: 1.5em;
    font-weight: 300;

    & :first-child{margin-top:0;}
    & :last-child{margin-bottom:0;}

  }
  &__post-link{

    display: block;
    text-align: center;

    @media (min-width: 768px) {
      display: inline-block;
    }

  }

}