.page-section {

  &__header {

    margin: 80px 0 40px;
    text-align: center;
    text-transform: uppercase;

    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    h2 {

      margin: 0;
      font-size: 1.25rem;
      font-weight: 500;

      @media (min-width: 768px) {
        font-size: 1.85rem;
      }

    }

    @media (min-width: 768px) {
      text-align: left;
    }

  }

}
