<!DOCTYPE html>
<html>
  
  <div class="site-wrap">

    {% include head.html %}

    <body>

      {% include header.html %}

      <div class="page-content">
        <div class="wrapper">
          {{ content }}
        </div>
      </div>

      {% include footer.html %}

    </body>

  </div><!-- / .site-wrap -->

  <!-- scripty scripts -->
  <script type='text/javascript' src='bower_components/fitvids/jquery.fitvids.js'></script>
  <script type='text/javascript' src='bower_components/swipebox/src/js/jquery.swipebox.min.js'></script>
  <script type='text/javascript' src='bower_components/nivo-lightbox/nivo-lightbox.min.js'></script>
  <script type='text/javascript' src='js/main.js'></script>

</html>
